body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(238, 231, 231);
  }
  header {
    background-color: #3d3737;
    color: #fff;
    padding: 20px;
    text-align: left;
  }
  h1 {
    margin: 0;
    text-shadow: #aaaaaa 3px 1px;
  }
  nav {
    background-color: #e4d7d7;
    border-bottom: 1px solid #cfc0c0;
    display: flex;
    justify-content: center;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav li {
    margin: 0 10px;
  }
  main {
    padding: 20px;
    text-align: left;
  }
  footer {
    background-color: #3d3737;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  h2 {
    text-align: left;
  }

  .menu {list-style: none;}
  .menu li {position: relative;}
  .menu li a {color: #1a1a1a; text-decoration: none; padding: 5px 10px; display: block}
  .menu li a:hover {background: #8a8282; color: #fff;}

  p {
    text-align: center;
    padding: 20px;
  }

  ul {
    text-align: center;
    list-style: none;
  }

  li {
    text-align: center;
  }

  img {
    left: 50px;
  }

  #dov {
    display: flex;
    justify-content: center;
  }

  .paragrafo {
    text-align: left;
  }

  .paragrafo2 {
    text-align: left;
    padding: 5px;
  }

  fieldset {
    background-color: rgb(228, 219, 217);
    border: none;
    
  }

  .text {
    width: 200px;
  }
